PORT=3000
LOG_LEVEL=debug
DATABASE_URL=
DATABASE_TYPE=postgres
RPC_URL=https://polygon-mumbai.g.alchemy.com/v2/<ALCHEMY-API-KEY>
RPC_NETWORK=mumbai
CERAMIC_URL=http://localhost:7007
CERAMIC_EAS_ISSUER_DID=did:pkh:eip-155:11155111:0x9cbC225B9d08502d231a6d8c8FF0Cc66aDcc2A4F
CERAMIC_EAS_ISSUER_ADDRESS=0x9cbC225B9d08502d231a6d8c8FF0Cc66aDcc2A4F
