PORT=3005
LOG_LEVEL=debug
DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres?schema=public
RPC_URL=https://polygon-mumbai.g.alchemy.com/v2/<ALCHEMY-API-KEY>
RPC_NETWORK=sepolia
SUPABASE_API_KEY=
SUPABASE_PROJECT_ID=
WEB3_STORAGE_KEY=
