.Inbox {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.InboxHeader {

}

.InboxHeader__xmtp {
  flex: 0 0 var(--sidebar-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  /*border-right: 1px solid #ccc;*/
}

.InboxHeader__actions {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.InboxConversations {
  flex-grow: 1;
  display: flex;
  min-height: 0;
}

.InboxConversations__list {
  overflow-y: auto;
  flex: 0 0 var(--sidebar-width);
  background-color: #eee;
}

.InboxConversations__messages {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.InboxConversations__messages > :nth-child(2) {
  flex-grow: 1;
  overflow: auto;
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}